<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TimeManager · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="w-screen h-screen bg-indigo-100">
    <header class="flex flex-row justify-center">
      <nav role="navigation" class="container max-w-2xl flex flex-row justify-center">
        <a href="/" class="p-3 mx-2 rounded-sm text-lg font-bold flex flex-row items-center">Start</a>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "p-3 mx-2 rounded-sm text-lg font-bold flex flex-row items-center" %>
        <% end %>
        <%= render "_user_menu.html", assigns %>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
